PORT=5000
MONGODB_URI=mongodb+srv://susantedit_db_user:susan12345@buildathon.6bmg0v1.mongodb.net/
GEMINI_API_KEY=AIzaSyCOxcpSQMN1zilwNAYK1P976aKHOnG4ikE
MURF_API_KEY=ap2_49af2547-0a4a-4723-8be0-ba7738b0fca4
